

body {
  margin: 0;
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(175.8deg, #2ECF94 -102.43%, #3DBEA3 100.22%);
}

